body{
  background-color: rgb(204, 204, 204);
  margin: 0;   
  padding: 0;
}
hr {
  border: none;
  border-top: 2px solid #444;
  margin: 2px;
}
main {
  margin: 20px;
  font-family: Arial, sans-serif;
  color: rgb(18, 48, 40);
  height: 100px;
  align-items: center;
  justify-content: center;  
  font-family: Old Newspaper Types;
  margin: 20px;
  width: 600px;
}
h1{
  text-align: center;
  margin: 5px;
}
p, h2, h3{
    text-align: justify;
    background-color: none;
}

.menu {
  float: left;
  background-color:none;
  font-family: 'Playfair Display', serif;
  width: 200px; 
  height: 120px;

}
.menu a:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.55);
  text-shadow: 1px 1px 4px #00000030;
}
.menu a:visited{
  color: #636363;
}
ul{
    list-style: none;
}
li{
  margin: 10px
}
#gato{
  float: right;
  filter: grayscale();
  height: 250px;
  margin: 5px;
  display:flex;
}
#gato:hover{
  filter: none;
}
